@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr />

<h2>Imprimindo um produto</h2>
<hr/>
<h3>Produto: @P.Nome</h3>
<h3>Tipo: @P.Tipo</h3>
<h3>Data de Cadastro: @P.DataCadastro</h3>




@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public Produto P { get { return getProduto(); } }

 
    private Produto getProduto()
    {
        return new Produto
            {
                Nome = "Computador",
                Tipo = "Eletroportatil",
                DataCadastro = new DateTime(2023, 05, 25)
            };
    }

 
}
